# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
data_file = "output_data/cities.csv"
vacation_df = pd.read_csv(data_file)
vacation_df.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,akdepe,42.06,59.38,69.80,46,0,8.32,TM,1597871113
1,tasiilaq,65.61,-37.64,50.00,66,0,10.29,GL,1597870916
2,puerto ayora,-0.74,-90.35,78.80,57,40,23.04,EC,1597871113
3,alberton,46.82,-64.07,72.43,60,16,10.80,CA,1597871113
4,mount gambier,-37.83,140.77,44.60,93,75,6.93,AU,1597871114

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
gmaps.configure(api_key=g_key)
locations = vacation_df[["Lat", "Lon"]]
humidity = vacation_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
hotel_df = vacation_df.loc[(vacation_df["Max Temp"] < 80) & (vacation_df["Max Temp"] > 70) & (vacation_df["Windspeed"] < 5) & (vacation_df["Cloudiness"] == 0)]
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
259,felanitx,39.47,3.15,78.80,83,0,1.12,ES,1597871182
260,palu,-0.89,119.87,74.17,79,0,3.47,ID,1597871182
289,berekum,7.45,-2.58,72.27,86,0,4.27,GH,1597871189
297,gorele,41.03,39.00,73.40,83,0,2.24,TR,1597871190
340,itapecerica,-20.47,-45.13,75.25,46,0,3.27,BR,1597871199
364,pachino,36.72,15.09,78.01,77,0,4.00,IT,1597871205
427,signa,43.79,11.10,77.00,65,0,3.36,IT,1597870932
522,khash,28.22,61.22,71.01,22,0,3.22,IR,1597871239
541,kamaishi,39.27,141.88,75.90,73,0,4.43,JP,1597871243
557,sakata,38.92,139.85,75.52,66,0,4.68,JP,1597871246

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
hotel_df["Hotel"] = ""
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
        "type" : "lodging",
        "radius" : 5000,
        "key" : g_key,
}

for index, row in hotel_df.iterrows():
    city = row["City"]
    latitude = row["Lat"]
    longitude = row["Lon"]
    
    params["keyword"] = city
    params["location"] = (latitude, longitude)
    
    response = requests.get(url, params=params).json()
    
    # ran out of time

C:\Users\jorda\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# ran out of time for the rest

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure